header {
    background-color: rgb(4, 8, 68);
    height: 20vh;
}

a {
    color: lightsalmon;
}

a:hover {
    color: lightgreen;
}

.link {
    font-size: 20px;
}

body {
    background-color: lightsalmon;
}

.post-body {
font-size: 15px;
color: lightsalmon;
}

.post-header {
    font-size: 25px;
}

.card-post-header {
    background-color:  rgb(4, 8, 68);
    border-width: 2px;
}

.post {
    background: lightsalmon;
    border-radius: 5px;
    border-width: 2px;
}